.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: red;
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
  width: 100%;
}

ul {
  list-style: none;
}

.nav-list a {
  display: block;
  font-size: 2rem;
  padding: 2rem;
}

a {
 text-decoration: none;
}

.nav-list a:hover {
 background-color: gray;
}

#welcome-section {
  text-align: center;
  background-color: gray;
  height: 200px;
  padding: 200px;
}

.heading-1 {
  color: white;
  font-weight: 900;
  font-size: 60px;
  position: relative;
  top: 0;
  left: 0;
  margin-top: -16px;
}

.paragrafo {
  color: red;
  font-style: italic;
  font-weight: 150;
  font-size: 30px;
  margin-top: -40px;
}

.heading-2 {
  color: white;
  text-align: center;
}

.paragrafo-2 {
  color: white;
  text-align: center;
  position: relative;
}

#button {
  border: solid;
  border-color: black;
  border-width: 3px;
  color: white;
  background-color: gray;
  padding: 15px 30px;
  font-size: 18px;
  margin: 4px 50px;
  content-align: center;
}

#button:hover {
  background-color: red;
}

#projects {
  background-color: blue;
  margin-top: -20px;
}

#contact {
  background-color: gray;
}

.divider {
  color: red;
  width: 100%;
  height: 3px;
}

footer {
  background-color: gray;
}

